<div class="content">
  <h1>About</h1>
  <mat-card>
    <h2>womeninsoftware.dev</h2>
    <p>Is part of the</p>
    <a href="https://github.com/WomenInSoftwareDev" target="_blank">
      <h1>WomenInSoftwareDev Open Source Project</h1>
    </a>
    <p>
      <span>WomenInSoftwareDev</span> is dedicated to showcasing and celebrating women who work in Software Development. Our mission is to highlight the achievements, contributions, and expertise of women in software development, software engineering, hands-on programming and coding.
    </p>
    <h3>What you'll find on the website:</h3>
    <ul>
      @for (feature of features; track feature) {
        <li>{{feature.description}}</li>
      }
    </ul>
  </mat-card>
</div>
